@font-face {
    font-family: 'RocaOne-BlIt';
    src: url('RocaOne-BlIt.woff2') format('woff2'),
        url('RocaOne-BlIt.woff') format('woff'),
        url('RocaOne-BlIt.svg#RocaOne-BlIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-BdIt';
    src: url('RocaOne-BdIt.woff2') format('woff2'),
        url('RocaOne-BdIt.woff') format('woff'),
        url('RocaOne-BdIt.svg#RocaOne-BdIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-Bl';
    src: url('RocaOne-Bl.woff2') format('woff2'),
        url('RocaOne-Bl.woff') format('woff'),
        url('RocaOne-Bl.svg#RocaOne-Bl') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-It';
    src: url('RocaOne-It.woff2') format('woff2'),
        url('RocaOne-It.woff') format('woff'),
        url('RocaOne-It.svg#RocaOne-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-Hv';
    src: url('RocaOne-Hv.woff2') format('woff2'),
        url('RocaOne-Hv.woff') format('woff'),
        url('RocaOne-Hv.svg#RocaOne-Hv') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne';
    src: url('RocaOne-Bold.woff2') format('woff2'),
        url('RocaOne-Bold.woff') format('woff'),
        url('RocaOne-Bold.svg#RocaOne-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-HvIt';
    src: url('RocaOne-HvIt.woff2') format('woff2'),
        url('RocaOne-HvIt.woff') format('woff'),
        url('RocaOne-HvIt.svg#RocaOne-HvIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-ThIt';
    src: url('RocaOne-ThIt.woff2') format('woff2'),
        url('RocaOne-ThIt.woff') format('woff'),
        url('RocaOne-ThIt.svg#RocaOne-ThIt') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-Lt';
    src: url('RocaOne-Lt.woff2') format('woff2'),
        url('RocaOne-Lt.woff') format('woff'),
        url('RocaOne-Lt.svg#RocaOne-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-LtIt';
    src: url('RocaOne-LtIt.woff2') format('woff2'),
        url('RocaOne-LtIt.woff') format('woff'),
        url('RocaOne-LtIt.svg#RocaOne-LtIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-Rg';
    src: url('RocaOne-Rg.woff2') format('woff2'),
        url('RocaOne-Rg.woff') format('woff'),
        url('RocaOne-Rg.svg#RocaOne-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocaOne-Th';
    src: url('RocaOne-Th.woff2') format('woff2'),
        url('RocaOne-Th.woff') format('woff'),
        url('RocaOne-Th.svg#RocaOne-Th') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocaTwo-BdIt';
    src: url('RocaTwo-BdIt.woff2') format('woff2'),
        url('RocaTwo-BdIt.woff') format('woff'),
        url('RocaTwo-BdIt.svg#RocaTwo-BdIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaTwo-BlIt';
    src: url('RocaTwo-BlIt.woff2') format('woff2'),
        url('RocaTwo-BlIt.woff') format('woff'),
        url('RocaTwo-BlIt.svg#RocaTwo-BlIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RocaTwo-Bl';
    src: url('RocaTwo-Bl.woff2') format('woff2'),
        url('RocaTwo-Bl.woff') format('woff'),
        url('RocaTwo-Bl.svg#RocaTwo-Bl') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

